# Lab in Data Science: Final Project

Pierre Fouche, Matthias Leroy and Raphaël Steinmann

## Imports

In [321]:
%matplotlib inline
import matplotlib.pylab as plt
plt.rcParams['figure.figsize'] = (10,6)
plt.rcParams['font.size'] = 18
plt.style.use('fivethirtyeight')

In [322]:
import getpass
import pyspark
from datetime import datetime
from pyspark.sql import SparkSession
import pyspark.sql.functions as functions
from pyspark.sql.types import BooleanType
from pyspark.sql.window import Window
import math
import helpers
import pickle
import numpy as np
import spark_helpers
import pandas as pd

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Initialize the `SparkSession`

In [323]:
conf = pyspark.conf.SparkConf()
conf.setMaster('yarn')
conf.setAppName('project-{0}'.format(getpass.getuser()))
conf.set('spark.executor.memory', '6g')
conf.set('spark.executor.instances', '6')
conf.set('spark.port.maxRetries', '100')
sc = pyspark.SparkContext.getOrCreate(conf)
conf = sc.getConf()
sc

In [324]:
# init spark session
spark = SparkSession(sc)

## Loading the data

## Data Processing

### Cleaning metadata
First, let's clean the metadata dataframe:

In [325]:
# load metadata
raw_metadata = spark.read.load('/datasets/project/metadata', format='com.databricks.spark.csv', header='false', sep='\\t')

In [326]:
# remove multiple spaces
metadata = raw_metadata.withColumn('_c0', functions.regexp_replace(raw_metadata._c0, '\s+', ' '))
# split into columns
metadata = metadata.withColumn('name', functions.split(metadata._c0, '%')[1])
for (name, index, type_) in [('station_ID',0, 'int'), ('long',1, 'double'), ('lat',2, 'double'), ('height',3, 'int')]:
    metadata = metadata.withColumn(name, functions.split(metadata._c0, ' ')[index].cast(type_))
# remove useless column
metadata = metadata.drop('_c0')
# trim name column to remove left/right blank
metadata = metadata.withColumn('name', functions.trim(metadata.name))

In [327]:
metadata.show(5)

+----------------+----------+---------+---------+------+
|            name|station_ID|     long|      lat|height|
+----------------+----------+---------+---------+------+
|       Bucuresti|         2|26.074412| 44.44677|     0|
|          Calais|         3| 1.811446|50.901549|     0|
|      Canterbury|         4| 1.075329|51.284212|     0|
|          Exeter|         5|-3.543547|50.729172|     0|
|Fideris, Bahnhof|         7| 9.733756|46.922368|   744|
+----------------+----------+---------+---------+------+
only showing top 5 rows

We will use the SBB data limited around the Zurich area. We will focus on all the stops within 10km of the Zurich train station. Let's get rid of all the stations that are too far away from Zurich:

In [328]:
metadata.count()

25935

In [329]:
# coordinates of Zürich main train station
lat_zurich = 47.3782
long_zurich = 8.5402

In [330]:
# convert to pandas dataframe
pandas_df = metadata.toPandas()
# keep only the stops that are located < 10km from Zurich HB
pandas_df['distance_to_zh'] = pandas_df.apply(lambda x: helpers.distance(x['long'], x['lat'], long_zurich, lat_zurich), axis=1)
pandas_df = pandas_df[pandas_df['distance_to_zh'] < 10]

In [331]:
# pandas_df.distance_to_zh.max()

In [332]:
# recreate spark dataframe from pandas dataframe
metadata = spark.createDataFrame(pandas_df)
# create dict of stations from pandas dataframe
stations = pandas_df.set_index('station_ID').to_dict('index')

### Cleaning main dataset

In [333]:
# load full data
raw_df = spark.read.load('/datasets/project/istdaten/*/*', format='csv', header='true', inferSchema='true', sep=';')
# load sample data
#raw_df = spark.read.load('/datasets/project/istdaten/2018/01', format='csv', header='true', inferSchema='true', sep=';')

In [334]:
# rename the fields german -> english
fields = {
    'BETRIEBSTAG':'date',
    'FAHRT_BEZEICHNER':'trip_id',
    'PRODUKT_ID':'transport_type',
    'LINIEN_ID':'train_id',
    'VERKEHRSMITTEL_TEXT':'train_type',
    'ZUSATZFAHRT_TF':'additional_trip',
    'FAELLT_AUS_TF':'trip_failed',
    'HALTESTELLEN_NAME':'stop_name',
    'BPUIC':'stop_id',
    'ANKUNFTSZEIT':'schedule_arrival',
    'AN_PROGNOSE':'real_arrival',
    'AN_PROGNOSE_STATUS':'arr_forecast_status',
    'ABFAHRTSZEIT':'schedule_dep',
    'AB_PROGNOSE':'real_dep',
    'AB_PROGNOSE_STATUS':'dep_forecast_status',
    'DURCHFAHRT_TF':'no_stop_here'
}

df = raw_df.selectExpr([k + ' as ' + fields[k] for k in fields])

In [335]:
# refactor dates
df = df.withColumn('date', functions.from_unixtime(functions.unix_timestamp('date', 'dd.MM.yyyy')))
df = df.withColumn('schedule_arrival', functions.from_unixtime(functions.unix_timestamp('schedule_arrival', 'dd.MM.yyyy HH:mm')))
df = df.withColumn('real_arrival', functions.from_unixtime(functions.unix_timestamp('real_arrival', 'dd.MM.yyyy HH:mm')))
df = df.withColumn('schedule_dep', functions.from_unixtime(functions.unix_timestamp('schedule_dep', 'dd.MM.yyyy HH:mm')))
df = df.withColumn('real_dep', functions.from_unixtime(functions.unix_timestamp('real_dep', 'dd.MM.yyyy HH:mm')))

In [336]:
# add a column containing the weekday (monday=1, sunday=6)
df = df.withColumn('weekday', spark_helpers.get_weekday(df.date))

In [337]:
# keep only the rows with stops near zurich
df = df.where(df.stop_id.isin([int(x) for x in list(pandas_df.station_ID.unique())]))

In [338]:
# there is still 51'571'541 rows in zurich area
# df.count()

In [339]:
# keep only date after the 10th of december, because the schedule changed
df = df.where(df.date > '2017-12-10 00:00:00')

In [340]:
# discard the rows when there is no stop here
df2 = df.where(df.no_stop_here == 'false')

In [341]:
# discard ill-formated rows where the train leaves a station before arriving in it
df2 = df2.where((df2.schedule_dep >= df2.schedule_arrival) | functions.col('schedule_arrival').isNull() | functions.col('schedule_dep').isNull())

## Modeling the network

### From stops to trips

In [342]:
# create a column with the schedule time that will be used to build the network
df2 = df2.withColumn('schedule_time', spark_helpers.date_choice(df2.schedule_arrival, df2.schedule_dep))
#df2 = df2.withColumn('schedule_time', functions.from_unixtime(functions.unix_timestamp('schedule_time', 'dd.MM.yyyy HH:mm')))

# create a column that tells if a stop is the first/last one of its trip or in the middle
df2 = df2.withColumn('stop_type', spark_helpers.stop_type(df2.schedule_dep, df2.schedule_arrival))

In [343]:
trips = df2.select(['trip_id', 'date', 'schedule_time', 'stop_id', 'stop_type', 'schedule_arrival', 'schedule_dep', 'transport_type', 'train_type', 'arr_forecast_status', 'weekday', 'real_arrival']).orderBy(['trip_id', 'schedule_time'], ascending=[0,0])

In [344]:
# duplicate the dataframe, shift the copy of one row and append it to the original
# this way, we have for each row the current stop and the next stop
w = Window().partitionBy(functions.col('trip_id')).orderBy(functions.col('trip_id'))
trips2 = trips.select("*", functions.lag("trip_id").over(w).alias("next_tid"))
trips2 = trips2.select("*", functions.lag("schedule_time").over(w).alias("next_time"))
trips2 = trips2.select("*", functions.lag("stop_id").over(w).alias("next_sid"))
trips2 = trips2.select("*", functions.lag("stop_type").over(w).alias("next_type"))
trips2 = trips2.select("*", functions.lag("schedule_arrival").over(w).alias("next_sched_arr"))
trips2 = trips2.select("*", functions.lag("schedule_dep").over(w).alias("next_sched_dep"))
trips2 = trips2.select("*", functions.lag("arr_forecast_status").over(w).alias("next_arr_forecast_status"))
trips2 = trips2.select("*", functions.lag("real_arrival").over(w).alias("next_real_arrival"))

trips2 = trips2.where(trips2.next_time.isNotNull())

In [345]:
#trips2.where(trips2.stop_type=='first').count()
#trips2.where(trips2.stop_type=='last').count()
#trips2.where(trips2.stop_type=='mid').count()

In [346]:
# create a new column telling if the edge is valid or not
# (i.e. if the stop and next stop are really part of the same ride)
trips3 = trips2.withColumn('is_valid', spark_helpers.edge_is_valid(trips2.trip_id, trips2.schedule_time, trips2.stop_id, trips2.stop_type, trips2.next_tid, trips2.next_time, trips2.next_sid, trips2.next_type, trips2.schedule_dep,trips2.next_sched_arr))

In [347]:
# keep only valid edges
trips4 = trips3.filter(trips3.is_valid=='true')

In [348]:
# trips4.select('stop_id', 'next_sid').distinct().count()
# gives 6606

# trips3.select('stop_id', 'next_sid').distinct().count()
# gives 8557

## Prediction / Regression

Deux idées : Le but c'est de prévoir le retard ou l'avance d'un départ ou d'une arrivée pour un arrêt précis à un moment précis et un trip précis.

- Faire une vraie regression ou n'importe quel algo pour déterminer le retard. On utilise comme features : l'arrêt (catégorie), latitude longitude (peut être mettre ensemble en tuple), jour precis ou jour de la semaine ?, le type de transport (bus-train ...), le trip id ou redondant ???, 

- Faire une moyenne, à un arrêt, un trip, un jour, une heure la moyenne de retard qu'il a eu dans ses conditions ... 

On va avoir besoin des trips id dans le dico histoire de pouvoir lier le graph des arrêts avec le réél trajet, quel bus/train fait cet edge.

### Preprocessing :

In [349]:
trips5 = trips4.drop('stop_type', 'next_type', 'is_valid', 'arr_forcast_status', 
                     'schedule_time', 'schedule_arrival', 'next_sched_dep', 
                     'next_time', 'next_tid', 'real_arrival', 'arr_forecast_status')

In [350]:
@functions.udf
def keep_time(date):
    return date.split(' ')[1]

In [351]:
trips5 = trips5.withColumn('schedule_dep', keep_time(trips5.schedule_dep))
trips5 = trips5.withColumn('next_sched_arr', keep_time(trips5.next_sched_arr))
trips5 = trips5.withColumn('next_real_arrival', keep_time(trips5.next_real_arrival))

In [352]:
@functions.udf
def create_rush(date):
    # rush_hour = 6/9 17/19 = 0
    # not_rush_hour = 0/6 9/17 19/24  = 1
    if (date >= '06:00:00' and date <= '09:00:00') or (date >= '17:00:00' and date <= '19:00:00'):
        return 0
    else:
        return 1
    
@functions.udf
def create_interval(date):
    if (date >= '00:00:00' and date < '06:00:00'):
        return 0
    elif (date >= '06:00:00' and date < '09:00:00'):
        return 1
    elif (date >= '09:00:00' and date < '13:00:00'):
        return 2
    elif (date >= '13:00:00' and date < '16:00:00'):
        return 3
    elif (date >= '16:00:00' and date < '19:00:00'):
        return 4
    else:
        return 5
    
@functions.udf
def group_weekday(weekday):
    # Wednesday
    if weekday == 2:
        return 1
    # Saturday
    elif weekday == 5:
        return 2
    # Sunday
    elif weekday == 6:
        return 3
    # Weekday
    else:
        return 0

In [353]:
# We compute the arrival delay of each stop station
df3 = trips5.withColumn("delay_arrival", 
                     functions.unix_timestamp('next_real_arrival', 'HH:mm:ss') -
                     functions.unix_timestamp('next_sched_arr', 'HH:mm:ss'))

# We create time interval in order to differentiate rush hour and other time of the day
# We have to try different combinations of interval time (that gave best prediction)
df3 = df3.withColumn('arrival_interval', create_rush(df3.next_sched_arr))
df3 = df3.withColumn('weekday', group_weekday(df3.next_sched_arr))

In [354]:
# We create a dataframe where we only keep the rows where there is a real arrival time
arrival_df = df3.filter(df3.next_arr_forecast_status == "GESCHAETZT")
arrival_df = arrival_df.drop('next_arr_forecast_status')

# we have to check to distribution of the entier delay arrival in order to drop outlayers
#arrival_df = arrival_df.filter(arrival_df['delay_arrival'] <= 600)

In [85]:
arrival_df.limit(10).toPandas()

,trip_id,date,stop_id,schedule_dep,transport_type,train_type,weekday,next_sid,next_sched_arr,next_real_arrival,delay_arrival,arrival_interval
0,85:11:13752:001,2018-01-28 00:00:00,8502221,02:12:00,Zug,SN,0,8502222,02:16:00,02:18:00,120,1
1,85:11:13752:001,2018-01-28 00:00:00,8502229,02:07:00,Zug,SN,0,8502221,02:12:00,02:13:00,60,1
2,85:11:13752:001,2018-01-28 00:00:00,8502220,02:06:00,Zug,SN,0,8502229,02:07:00,02:10:00,180,1
3,85:11:13752:001,2018-01-28 00:00:00,8503001,02:01:00,Zug,SN,0,8502220,02:06:00,02:08:00,120,1
4,85:11:13752:001,2018-01-28 00:00:00,8503020,01:59:00,Zug,SN,0,8503001,02:01:00,02:02:00,60,1
5,85:11:13752:001,2018-01-28 00:00:00,8503000,01:57:00,Zug,SN,0,8503020,01:59:00,01:59:00,0,1
6,85:11:13752:001,2018-01-28 00:00:00,8503003,01:52:00,Zug,SN,0,8503000,01:55:00,01:54:00,-60,1
7,85:11:13752:001,2018-01-27 00:00:00,8502221,02:12:00,Zug,SN,0,8502222,02:16:00,02:18:00,120,1
8,85:11:13752:001,2018-01-27 00:00:00,8502229,02:07:00,Zug,SN,0,8502221,02:12:00,02:13:00,60,1
9,85:11:13752:001,2018-01-27 00:00:00,8502220,02:06:00,Zug,SN,0,8502229,02:07:00,02:10:00,180,1

# interquartile mean + interquarile

In [355]:
delay_distribution = arrival_df.groupby(['trip_id', 'arrival_interval', 'weekday']).agg(functions.collect_list(functions.col('delay_arrival'))).alias('distri')

In [356]:
@functions.udf
def delete_neg(distri):
    return [0 if d < 0 else d for d in distri]

In [357]:
delay_distribution = delay_distribution.withColumn('distri', delete_neg(functions.col('collect_list(delay_arrival)')))

In [358]:
@functions.udf
def iqm(distri):
    s = len(distri)
    lp = s/4 + 1
    lm = 3*s/4
    f = 0
    for i,x in enumerate(sorted(distri)):
        if lp <= i <= lm:
            f += x
    return 2/s * f

@functions.udf
def interquartile(distri):
    q1, q3 = np.percentile(distri, [25, 75])
    return float(q3) - float(q1)

In [359]:
delay_distribution = delay_distribution.withColumn('IQM', iqm(delay_distribution.distri))
delay_distribution = delay_distribution.withColumn('interquartile', interquartile(delay_distribution.distri))
delay_distribution = delay_distribution.withColumn('worst_case', delay_distribution.IQM + delay_distribution.interquartile)

delay_distribution_pd = delay_distribution.toPandas()

In [361]:
regenerate_distri_pickle = False
if regenerate_distri_pickle:
    delay_distribution_pd.to_pickle('./data/delay_distri.pickle')
else:
    delay_distribution_pd = pd.read_pickle('./data/delay_distri.pickle')

In [377]:
delay_distribution_pd[delay_distribution_pd.worst_case != 0]

,trip_id,arrival_interval,weekday,collect_list(delay_arrival),distri,IQM,interquartile,worst_case
0,85:11:18231:002,0,0,"[0, -60, 0, 60, 0, 0, -60, 0, 0, 0, 0, 0, 0, 0...","[0, 0, 0, 60, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",19.636363636363637,60.0,79.636364
5,85:11:18330:001,1,0,"[60, 0, 0, 0, 60, 0, -60, 0, 120, 60, 0, 60, 6...","[60, 0, 0, 0, 60, 0, 0, 0, 120, 60, 0, 60, 60,...",24.485294117647058,60.0,84.485294
7,85:11:2684:001,1,0,"[-60, -60, 120, 60, -60, 0, -60, -60, 0, 0, -6...","[0, 0, 120, 60, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4.285714285714286,60.0,64.285714
9,85:11:89538:000,1,0,"[240, 240, 240, 240]","[240, 240, 240, 240]",240.0,0.0,240.000000
10,85:11:19422:001,0,0,"[0, -60, 60, 0, 60, 60, 0, 60, 60, 0, -60, 0, ...","[0, 0, 60, 0, 60, 60, 0, 60, 60, 0, 0, 0, 0, 0...",34.161988773055334,60.0,94.161989
12,85:11:829:001,1,0,"[0, 0, 0, 60, 0, 60, 0, 0, 120, 0, 120, 720, 0...","[0, 0, 0, 60, 0, 60, 0, 0, 120, 0, 120, 720, 0...",25.53191489361702,60.0,85.531915
13,85:11:89526:002,0,0,"[660, 600, 600, 540, 540]","[660, 600, 600, 540, 540]",240.0,60.0,300.000000
17,85:11:30692:005,1,0,"[120, 180, 120, 120, 120, 0, 0, 0, 0, 0, 60, 6...","[120, 180, 120, 120, 120, 0, 0, 0, 0, 0, 60, 6...",70.0,120.0,190.000000
20,85:11:18762:001,1,0,"[420, 420, 60, 60, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[420, 420, 60, 60, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",38.98366606170599,120.0,158.983666
21,85:11:20480:002,1,0,"[60, 60, 60, 60, -60, 60, -60, 120, 0, 60, 120...","[60, 60, 60, 60, 0, 60, 0, 120, 0, 60, 120, 60...",34.23555230431602,60.0,94.235552
22,85:11:18283:001,1,0,"[0, 0, 60, 60, 60, 0, 60, 0, 0, 0, -60, -60, 0...","[0, 0, 60, 60, 60, 0, 60, 0, 0, 0, 0, 0, 0, 0,...",8.546511627906977,60.0,68.546512
24,85:11:30501:001,1,0,"[120, 240, 240, 180, 360, 360, 300]","[120, 240, 240, 180, 360, 360, 300]",257.1428571428571,120.0,377.142857
27,85:11:18362:001,0,0,"[60, 60, 0, 0, 60, 0, -60, 0, 60, 0, -60, 0, 1...","[60, 60, 0, 0, 60, 0, 0, 0, 60, 0, 0, 0, 120, ...",30.431654676258994,60.0,90.431655
29,85:78:24854:001,0,0,"[0, 0, 0, -60, 0, 0, 0, -60, 0, 60, 60, -60, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 60, 60, 0, 0, 0, 0...",32.96,60.0,92.960000
30,85:78:24924:001,1,0,"[0, 0, 60, 0, 60, 60, 60, 120, 120, 60, 60, 12...","[0, 0, 60, 0, 60, 60, 60, 120, 120, 60, 60, 12...",11.186440677966102,60.0,71.186441
31,85:11:18363:001,1,0,"[60, 60, 60, 0, 60, 60, 60, 60, 0, 0, 0, 0, 0,...","[60, 60, 60, 0, 60, 60, 60, 60, 0, 0, 0, 0, 0,...",20.836012861736336,60.0,80.836013
34,85:11:18592:001,1,0,"[120, 60, 120, 120, 180, 60, -60, 0, -60, 60, ...","[120, 60, 120, 120, 180, 60, 0, 0, 0, 60, 60, ...",51.18012422360249,120.0,171.180124
35,85:11:89482:000,1,0,"[300, 420, 480, 480]","[300, 420, 480, 480]",480.0,90.0,570.000000
39,85:11:19686:001,1,0,"[-60, 0, 0, 0, 60, 0, 60, 60, 60, 0, 0, 60, 0,...","[0, 0, 0, 0, 60, 0, 60, 60, 60, 0, 0, 60, 0, 6...",11.868131868131867,60.0,71.868132
40,85:11:90439:001,1,0,"[-60, 0, 60, 0, 0, 60]","[0, 0, 60, 0, 0, 60]",20.0,45.0,65.000000
41,85:11:19260:001,1,0,"[60, 0, -60, 0, -60, 0, 60, 0, -60, 0, -60, 0,...","[60, 0, 0, 0, 0, 0, 60, 0, 0, 0, 0, 0, 60, 0, ...",8.489208633093524,60.0,68.489209
42,85:11:18227:002,0,0,"[0, 0, 0, 0, 0, 60, 60, 60, 120, 120, 0, 0, 0,...","[0, 0, 0, 0, 0, 60, 60, 60, 120, 120, 0, 0, 0,...",12.943820224719103,60.0,72.943820
44,85:11:19689:002,1,0,"[0, -60, 0, 0, 0, 0, 0, 60, 0, 60, 120, 60, 60...","[0, 0, 0, 0, 0, 0, 0, 60, 0, 60, 120, 60, 60, ...",10.06711409395973,60.0,70.067114
46,85:11:19964:001,1,0,"[60, 120, 60, 120, 60, 120, 120, 240, 60, 180,...","[60, 120, 60, 120, 60, 120, 120, 240, 60, 180,...",82.10526315789474,60.0,142.105263
47,85:11:90461:004,1,0,"[120, 120, 120, 60, 0, 60, 0, 60, 0, 0]","[120, 120, 120, 60, 0, 60, 0, 60, 0, 0]",60.0,105.0,165.000000
49,85:11:18249:001,1,0,"[0, 0, 60, 0, 0, 60, 0, 60, 60, 60, 0, -60, 0,...","[0, 0, 60, 0, 0, 60, 0, 60, 60, 60, 0, 0, 0, 6...",6.260869565217392,60.0,66.260870
50,85:11:5093:001,1,0,"[60, 0, 60, 180, 60, 0, 360, 120, 360, 60, 60,...","[60, 0, 60, 180, 60, 0, 360, 120, 360, 60, 60,...",65.14285714285714,120.0,185.142857
51,85:11:18922:001,0,0,"[60, 0, -60, 0, 0, 0, 0, 60, 60, 0, 0, 0, -60,...","[60, 0, 0, 0, 0, 0, 0, 60, 60, 0, 0, 0, 0, 0, ...",7.002652519893899,60.0,67.002653
52,85:11:19250:001,1,0,"[60, 0, 0, 0, 0, 0, 60, 0, -60, 0, 0, 0, 120, ...","[60, 0, 0, 0, 0, 0, 60, 0, 0, 0, 0, 0, 120, 0,...",9.733656174334142,60.0,69.733656
53,85:11:18855:001,1,0,"[120, 60, 120, 0, 0, 60, 60, 60, 60, 120, 0, 6...","[120, 60, 120, 0, 0, 60, 60, 60, 60, 120, 0, 6...",14.560260586319218,60.0,74.560261
...,...,...,...,...,...,...,...,...
3910,85:11:813:002,1,0,"[60, -60, -60, 0, 120, -60, 0, 0, 0, 60, 60, 0...","[60, 0, 0, 0, 120, 0, 0, 0, 0, 60, 60, 0, 0, 1...",6.666666666666666,60.0,66.666667
3911,85:11:19277:001,1,0,"[-60, 0, 0, 0, 0, 0, 0, 60, -60, 60, 0, 60, 12...","[0, 0, 0, 0, 0, 0, 0, 60, 0, 60, 0, 60, 120, 1...",9.571428571428573,60.0,69.571429
3912,85:11:88570:001,0,0,"[300, 300, 360, 300, 300, 300]","[300, 300, 360, 300, 300, 300]",200.0,0.0,200.000000
3913,85:11:19440:001,1,0,"[60, 0, 60, 0, -60, 60, 0, 60, 60, 60, 0, 60, ...","[60, 0, 60, 0, 0, 60, 0, 60, 60, 60, 0, 60, 0,...",21.079774375503625,60.0,81.079774
3914,85:11:89677:000,1,0,"[0, 0, 60, 0, 60, 0]","[0, 0, 60, 0, 60, 0]",20.0,45.0,65.000000
3915,85:11:88386:004,1,0,"[120, 60, 60, 120]","[120, 60, 60, 120]",120.0,60.0,180.000000
3918,85:11:90493:001,1,0,"[-60, 0, 60, 0, 60, 60, 0, 60, 60]","[0, 0, 60, 0, 60, 60, 0, 60, 60]",40.0,60.0,100.000000
3919,85:78:24934:001,1,0,"[-60, 0, 0, -60, -60, 60, 60, -60, -60, 0, 0, ...","[0, 0, 0, 0, 0, 60, 60, 0, 0, 0, 0, 0, 0, 60, ...",3.389830508474576,60.0,63.389831
3920,85:11:18663:001,0,0,"[0, -60, 0, 0, 0, 0, -60, 0, -60, 0, 0, 0, 60,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 60, 0, 60...",31.989987484355446,60.0,91.989987
3924,85:11:90425:002,0,0,"[60, 120, 120, 60, 60, 120, 0, 120, 0, 0]","[60, 120, 120, 60, 60, 120, 0, 120, 0, 0]",72.0,105.0,177.000000
3925,85:11:18629:001,0,0,"[0, -60, 0, 0, 0, 0, -60, 0, -60, 60, -60, -60...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 60, 0, 0, 0, 0, 0,...",29.215291750503017,60.0,89.215292
3926,85:11:90442:003,1,0,"[60, 0, 60, 60, 0, 0]","[60, 0, 60, 60, 0, 0]",40.0,60.0,100.000000
3927,85:78:24634:001,1,0,"[0, 60, 60, 0, 0, 0, 0, 60, 0, 0, 0, 0, 0, 0, ...","[0, 60, 60, 0, 0, 0, 0, 60, 0, 0, 0, 0, 0, 0, ...",10.62200956937799,60.0,70.622010
3930,85:11:19293:001,1,0,"[0, 0, -60, 0, 0, 0, -60, 0, -60, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",5.741626794258373,60.0,65.741627
3932,85:11:30793:012,1,0,"[0, 0, 120, 60, -240]","[0, 0, 120, 60, 0]",24.0,60.0,84.000000
3933,85:11:89642:000,1,0,"[240, 180, 300]","[240, 180, 300]",200.0,60.0,260.000000
3934,85:11:30810:003,0,0,"[60, 60, 360]","[60, 60, 360]",240.0,150.0,390.000000
3935,85:11:30504:001,1,0,"[540, 480, 600, 480, 540, 420, 480]","[540, 480, 600, 480, 540, 420, 480]",445.71428571428567,60.0,505.714286
3936,85:11:13764:001,1,0,"[60, 120, 120, 60, 120, -60, -60, 0, 60, 60, 0...","[60, 120, 120, 60, 120, 0, 0, 0, 60, 60, 0, 0,...",16.89530685920578,60.0,76.895307
3939,85:11:30605:001,1,0,"[300, 300, 300, 240, 60, 120, 60]","[300, 300, 300, 240, 60, 120, 60]",240.0,210.0,450.000000
3940,85:11:89548:001,1,0,"[60, 60, 60, 120]","[60, 60, 60, 120]",90.0,15.0,105.000000
3941,85:11:89667:001,0,0,"[0, -60, 0, 0, 0, 0, 60, 0, 0, 0, 60, 0, 0, 60...","[0, 0, 0, 0, 0, 0, 60, 0, 0, 0, 60, 0, 0, 60, ...",5.0,15.0,20.000000
3942,85:11:88750:003,1,0,"[0, -60, 60, 60, 0, 0]","[0, 0, 60, 60, 0, 0]",20.0,45.0,65.000000
3945,85:11:89444:003,1,0,"[120, 60, 180, 120]","[120, 60, 180, 120]",150.0,30.0,180.000000
3946,85:11:90431:002,1,0,"[0, 60, 60, 0, 0, 60]","[0, 60, 60, 0, 0, 60]",40.0,60.0,100.000000
3947,85:11:30789:004,1,0,"[60, 60, 60, 120, 0, -180]","[60, 60, 60, 120, 0, 0]",40.0,45.0,85.000000
3948,85:11:19165:001,0,0,"[120, 0, -60, 0, 0, -120, 60, 0, 0, 60, 0, 0, ...","[120, 0, 0, 0, 0, 0, 60, 0, 0, 60, 0, 0, 540, ...",14.893617021276595,60.0,74.893617
3949,85:11:89685:001,1,0,"[0, 0, 60, 0, 0, -60, 60, 0, 0, -60, 60, 0, 60...","[0, 0, 60, 0, 0, 0, 60, 0, 0, 0, 60, 0, 60, 60...",30.0,60.0,90.000000
3951,85:11:89438:003,1,0,"[60, 0, 120, 60, 120]","[60, 0, 120, 60, 120]",48.0,60.0,108.000000
3952,85:11:18563:001,1,0,"[0, 0, 0, -60, 0, 0, 0, 0, 0, 0, -60, 60, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 60, 0, 0, 0,...",25.88957055214724,60.0,85.889571

## After shortest path, predict % of uncertainty

In [367]:
import datetime
test = [(8576218,
  8576217,
  datetime.datetime(2018, 1, 15, 14, 3),
  datetime.datetime(2018, 1, 15, 14, 4),
  '85:849:104861-01912-1',
  '916'),
 (8576217,
  8576216,
  datetime.datetime(2018, 1, 15, 14, 4),
  datetime.datetime(2018, 1, 15, 14, 5),
  '85:849:104861-01912-1',
  '916'),
 (8576216,
  8576209,
  datetime.datetime(2018, 1, 15, 14, 5),
  datetime.datetime(2018, 1, 15, 14, 6),
  '85:849:104861-01912-1',
  '916'),
 (8576209,
  8576208,
  datetime.datetime(2018, 1, 15, 14, 6),
  datetime.datetime(2018, 1, 15, 14, 7),
  '85:849:104861-01912-1',
  '916'),
 (8576208,
  8576207,
  datetime.datetime(2018, 1, 15, 14, 7),
  datetime.datetime(2018, 1, 15, 14, 8),
  '85:849:104861-01912-1',
  '916'),
 (8576207,
  8576206,
  datetime.datetime(2018, 1, 15, 14, 9),
  datetime.datetime(2018, 1, 15, 14, 9),
  '85:849:104861-01912-1',
  '916'),
 (8576206,
  8576205,
  datetime.datetime(2018, 1, 15, 14, 10),
  datetime.datetime(2018, 1, 15, 14, 10),
  '85:849:104861-01912-1',
  '916'),
 (8576205,
  8576204,
  datetime.datetime(2018, 1, 15, 14, 10),
  datetime.datetime(2018, 1, 15, 14, 11),
  '85:849:104861-01912-1',
  '916'),
 (8576204,
  8576203,
  datetime.datetime(2018, 1, 15, 14, 11),
  datetime.datetime(2018, 1, 15, 14, 13),
  '85:849:104861-01912-1',
  '916'),
 (8576203,
  8576202,
  datetime.datetime(2018, 1, 15, 14, 13),
  datetime.datetime(2018, 1, 15, 14, 14),
  '85:849:104861-01912-1',
  '916'),
 (8576202,
  8576201,
  datetime.datetime(2018, 1, 15, 14, 14),
  datetime.datetime(2018, 1, 15, 14, 15),
  '85:849:104861-01912-1',
  '916'),
 (8576201,
  8576182,
  datetime.datetime(2018, 1, 15, 14, 15),
  datetime.datetime(2018, 1, 15, 14, 16),
  '85:849:104861-01912-1',
  '916'),
 (8576182,
  8576200,
  datetime.datetime(2018, 1, 15, 14, 17),
  datetime.datetime(2018, 1, 15, 14, 18),
  '85:11:30789:004',
  '4'),
 (8576200,
  8576199,
  datetime.datetime(2018, 1, 15, 14, 18),
  datetime.datetime(2018, 1, 15, 14, 19),
  '85:3849:80930-02004-1',
  '4'),
 (8576199,
  8576198,
  datetime.datetime(2018, 1, 15, 14, 19),
  datetime.datetime(2018, 1, 15, 14, 20),
  '85:3849:80930-02004-1',
  '4'),
 (8576198,
  8576197,
  datetime.datetime(2018, 1, 15, 14, 20),
  datetime.datetime(2018, 1, 15, 14, 21),
  '85:3849:80930-02004-1',
  '4'),
 (8576197,
  8576196,
  datetime.datetime(2018, 1, 15, 14, 21),
  datetime.datetime(2018, 1, 15, 14, 22),
  '85:3849:80930-02004-1',
  '4'),
 (8576196,
  8576195,
  datetime.datetime(2018, 1, 15, 14, 23),
  datetime.datetime(2018, 1, 15, 14, 24),
  '85:3849:80930-02004-1',
  '4'),
 (8576195,
  8503003,
  datetime.datetime(2018, 1, 15, 14, 24),
  datetime.datetime(2018, 1, 15, 14, 25, 44, 784423),
  'walk',
  'walk'),
 (8503003,
  8503000,
  datetime.datetime(2018, 1, 15, 14, 27),
  datetime.datetime(2018, 1, 15, 14, 29),
  '85:11:18654:001',
  'S6'),
 (8503000,
  8503020,
  datetime.datetime(2018, 1, 15, 14, 29),
  datetime.datetime(2018, 1, 15, 14, 31),
  '85:11:18352:001',
  'S3'),
 (8503020,
  8503001,
  datetime.datetime(2018, 1, 15, 14, 31),
  datetime.datetime(2018, 1, 15, 14, 35),
  '85:11:18352:001',
  'S3'),
 (8503001,
  8591057,
  datetime.datetime(2018, 1, 15, 14, 35),
  datetime.datetime(2018, 1, 15, 14, 36, 9, 650259),
  'walk',
  'walk'),
 (8591057,
  8591434,
  datetime.datetime(2018, 1, 15, 14, 39),
  datetime.datetime(2018, 1, 15, 14, 41),
  '85:849:302080-32301-1',
  '304'),
 (8591434,
  8591402,
  datetime.datetime(2018, 1, 15, 14, 41),
  datetime.datetime(2018, 1, 15, 14, 41),
  '85:849:91676-18089-1',
  '89'),
 (8591402,
  8591197,
  datetime.datetime(2018, 1, 15, 14, 41),
  datetime.datetime(2018, 1, 15, 14, 42),
  '85:849:302080-32301-1',
  '304'),
 (8591197,
  8591436,
  datetime.datetime(2018, 1, 15, 14, 42),
  datetime.datetime(2018, 1, 15, 14, 43),
  '85:849:302080-32301-1',
  '304'),
 (8591436,
  8591136,
  datetime.datetime(2018, 1, 15, 14, 43),
  datetime.datetime(2018, 1, 15, 14, 45),
  '85:849:302080-32301-1',
  '304'),
 (8591136,
  8590725,
  datetime.datetime(2018, 1, 15, 14, 46),
  datetime.datetime(2018, 1, 15, 14, 47),
  '85:849:302080-32301-1',
  '304'),
 (8590725,
  8590726,
  datetime.datetime(2018, 1, 15, 14, 47),
  datetime.datetime(2018, 1, 15, 14, 48),
  '85:849:302080-32301-1',
  '304'),
 (8590726,
  8590728,
  datetime.datetime(2018, 1, 15, 14, 48),
  datetime.datetime(2018, 1, 15, 14, 49),
  '85:849:302080-32301-1',
  '304'),
 (8590728,
  8590727,
  datetime.datetime(2018, 1, 15, 14, 49),
  datetime.datetime(2018, 1, 15, 14, 50),
  '85:849:302080-32301-1',
  '304')]

In [373]:
def search_inter(trip_id, weekday, time_interval):
    interquartile = delay_distribution_pd[(delay_distribution_pd.trip_id == trip_id) & 
                            (delay_distribution_pd.arrival_interval == time_interval) & 
                            (delay_distribution_pd.weekday == weekday)].worst_case
    print(interquartile)
    return float(interquartile) if interquartile.size != 0 else float(0)

def rush_inter(time):
    if (time >= '06:00:00' and time <= '09:00:00') or (time >= '17:00:00' and time <= '19:00:00'):
        return 0
    else:
        return 1    

def routing_algo(path):
    prev_edge = path[0]
    certainty = {}
    for i, edge in enumerate(path):
        if (edge[4] != prev_edge[4]) and (edge[4] != 'walk') and (prev_edge[4] != 'walk'):
            time_for_change = edge[2] - prev_edge[3]
            time_inter = rush_inter(prev_edge[3].time().isoformat())
            inter = search_inter(prev_edge[4], prev_edge[3].weekday(), time_inter)
            if inter:
                certainty[i-1] = min(time_for_change / inter, 1)
            else:
                certainty[i-1] = 1
        prev_edge = edge
    return certainty

In [374]:
routing_algo(test)

Series([], Name: worst_case, dtype: float64)
Series([], Name: worst_case, dtype: float64)
Series([], Name: worst_case, dtype: float64)
Series([], Name: worst_case, dtype: float64)

{11: 1, 19: 1, 23: 1, 24: 1}

## PREDICTION / pandas and pyspark

In [ ]:
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
import pandas as pd

In [ ]:
le_train_type = preprocessing.LabelEncoder()
le_train_type.fit(arrival_pd_df['train_type'])
# see the class
#list(le_train_type.classes_)

In [ ]:
arrival_pd_df['train_type_cat'] = le_train_type.transform(arrival_pd_df['train_type'])
# we can do the inverse
# arrival_pd_df['train_type'] = le_train_type.inverse_transform(arrival_pd_df['train_type_cat'])

In [ ]:
arrival_pd_df

In [ ]:
arrival_pd_df.weekday = arrival_pd_df.weekday.astype(int)
arrival_pd_df.arrival_interval = arrival_pd_df.arrival_interval.astype(int)
arrival_pd_df.arrival_interval = arrival_pd_df.arrival_interval.astype(int)

arrival_pd_df.dtypes

In [ ]:
week_df = arrival_pd_df[arrival_pd_df.weekday == 0]
week_df.delay_arrival = week_df.delay_arrival/60
week_df

In [ ]:
lin_regr = LinearRegression()
lin_regr.fit(week_df[['stop_id', 'next_sid', 'arrival_interval', 'train_type_cat']], week_df.delay_arrival)
pred = lin_regr.predict(week_df[['stop_id', 'next_sid', 'arrival_interval', 'train_type_cat']])
lin_regr.score(week_df[['stop_id', 'next_sid', 'arrival_interval', 'train_type_cat']],  week_df.delay_arrival)

In [ ]:
week_df['pred'] = pred
week_df

In [ ]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer

trip_Indexer = StringIndexer(inputCol="trip_id", outputCol="trip_id_index")
trip_model = trip_Indexer.fit(arrival_df)

arrival_df = trip_model.transform(arrival_df)

In [ ]:
arrival_df = arrival_df.drop('trip_id', 'transport_type')

In [ ]:
arrival_df = arrival_df.withColumn('weekday', arrival_df['weekday'].cast('int'))
arrival_df = arrival_df.withColumn('arrival_interval', arrival_df['arrival_interval'].cast('int'))

In [ ]:
arrival_df = arrival_df.withColumn('delay_arrival', arrival_df['delay_arrival'] / 60)

In [ ]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler


vec_ass = VectorAssembler(inputCols=['stop_id','weekday','arrival_interval','trip_id_index','transport_type_index'], outputCol="features")

#arrival_df = vec_ass.transform(arrival_df)
lr = LinearRegression(maxIter=5, regParam=0.0, solver="normal", 
                      labelCol='delay_arrival')
model = lr.fit(arrival_df)

test = model.transform(arrival_df)

In [ ]:
test = test.withColumn('evaluation', test['delay_arrival'] - test['prediction'])

In [ ]:
test.describe('evaluation').show()

In [ ]:
test.describe('delay_arrival').show()

In [ ]:
test.describe('prediction').show()

In [ ]:
test_df = arrival_df.limit(50).toPandas()
test_df

## Time Buckets

It was an attempt of finding time buckets directly according to the delay.
However Kmeans does not return meaningful clusters. That is why we decide to create our own interval based on main daily period.

In [ ]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import OneHotEncoder, StringIndexer

train_type_Indexer = StringIndexer(inputCol="train_type", outputCol="train_type_cat")
train_type_model = train_type_Indexer.fit(arrival_df)
arrival_df = train_type_model.transform(arrival_df)

arrival_df = arrival_df.withColumn('weekday', arrival_df['weekday'].cast('int'))
arrival_df = arrival_df.withColumn('train_type_cat', arrival_df['train_type_cat'].cast('int'))

arrival_df_test = arrival_df.filter(arrival_df.weekday < 5)
arrival_df_test = arrival_df_test.withColumn('delay_arrival', arrival_df_test.delay_arrival/60)

vec_ass = VectorAssembler(inputCols=['delay_arrival', 'train_type_cat'], outputCol="features")
kmeans_df = vec_ass.transform(arrival_df_test)
kmean = KMeans(k=7)
model_km = kmean.fit(kmeans_df)
kmeans_df = model_km.transform(kmeans_df)

In [ ]:
kmeans_df = kmeans_df.withColumn('timestamp', functions.unix_timestamp('next_sched_arr',  'HH:mm:ss'))

In [ ]:
mean_ = kmeans_df.groupBy('prediction').mean('timestamp').collect()
print(mean_)

In [ ]:
for i in mean_:
    print(i['prediction'])
    print(datetime.datetime.fromtimestamp(i['avg(timestamp)']).strftime("%H:%M:%S"))